.dashboard {
	min-height: 100vh;
}

.dashboardNav {
	display: flex;
	width: 56.15385rem;
	padding-top: 6rem;
	margin: 0 auto;
	align-items: center;
	gap: 0 3rem;
}

.noInvoice {
	min-height: 86vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.noInvoice > .imgContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
}

.invoiceWrapper {
	display: flex;
	flex-direction: column;
	gap: 1.2rem 0;
	align-items: center;
	padding: 5rem 0;
}