.invoicePage {
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.container {
	margin-top: 5rem;
	width: 56.15385rem;
	padding: 1.85rem;
}

.invoiceNav {
	background-color: var(--box-bg);
	padding: 1.5rem 2.5rem;
	box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
	display: flex;
}

.invoiceNav > .buttons,
.invoiceNav > .status > div {
	display: flex;
	gap: 0 0.62rem;
	align-items: center;
	justify-content: center;
}

.invoiceNav > .status {
	display: flex;
	align-items: center;
	justify-content: center;
}

.invoiceNav > .status > div {
	gap: 0 1.65rem;
}

.invoiceNav > .buttons {
	margin-left: auto;
}

.invoice {
	margin: 1.85rem 0;
	padding: 3.85rem;
	border-radius: 0.5rem;
	background-color: var(--box-bg);
}

/* Sender Info */

.senderInfo {
	display: flex;
	justify-content: space-between;
}

.senderInfo > .invoiceId > p {
	font-weight: 700;
	font-size: 1.15385rem;
	color: var(--text);
}

.senderInfo .invoiceDesc {
	color: var(--text-3);
	font-weight: 500;
	line-height: calc(var(--line-height) * 1.15rem);
	margin-top: 0.5rem;
	margin-bottom: 3.5rem;
}

.senderInfo > .invoiceId > p > span {
	color: var(--06);
}

.senderInfo .senderAddress {
	color: var(--text-3);
	text-align: right;
}

/* Client Info */

.clientInfo {
	display: flex;
	justify-content: space-between;
	padding-right: 10rem;
}

.date .invoiceDate p:first-child,
.date .dueDate p:first-child,
.billTo div > p:first-child,
.sentTo p:first-child {
	color: var(--text-3);
	font-weight: 500;
}

.clientInfo .date .invoiceDate p:last-child,
.clientInfo .date .dueDate p:last-child,
.billTo .clientName,
.sentTo p:last-child {
	font-weight: 700;
	font-size: 1.15385rem;
	margin-top: 1rem;
}

.clientInfo .date .dueDate {
	margin-top: 2.3rem;
}

.billTo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.billTo > .clientAddress p {
	color: var(--text-3);
}

.itemTable {
	background-color: var(--box-bg-2);
	margin-top: 3.62rem;
	position: relative;

	border-radius: 0.5rem;
	overflow: hidden;
}

.itemTable table {
	width: 100%;
	padding: 3rem 2.5rem;
}

.itemTable th {
	text-align: left;
	color: var(--text-3);
	font-weight: 500;
	line-height: calc(var(--line-height) * 1.38462rem);
	padding-bottom: 2.4rem;
	text-transform: capitalize;
}

.itemTable td {
	padding: 1.25rem 0;
}

.itemTable td.itemName,
.itemTable td.totalOfItem {
	font-size: 1.15385rem;
	font-weight: 700;
}

.itemTable td.quantity,
.itemTable td.price {
	font-size: 1.15385rem;
	font-weight: 500;
	color: var(--text-3);
}

.itemTable td.price {
	font-weight: 700;
}

.itemTable th:nth-child(2),
.itemTable td:nth-child(2) {
	text-align: center;
}

.itemTable th:nth-child(3),
.itemTable td:nth-child(3) {
	text-align: right;
}
.itemTable th:nth-child(4),
.itemTable td:nth-child(4) {
	text-align: right;
}

.total {
	display: flex;
	justify-content: space-between;
	background-color: var(--box-bg-3);
	color: var(--white);
	padding: 2.5rem;
	align-items: center;
}

.total > p {
	line-height: calc(1em * 1.38462rem);
}

.total > .amount {
	text-align: right;
	font-size: 1.84615rem;
	font-weight: 700;
	line-height: calc(1em * 1.33);
}

@media print {
	.invoicePage {
		display: block;
	}

	.container {
		width: auto;
	}
}

@media screen and (max-width: 767px) {
	.container {
		margin-top: 1rem;
	}
	.clientInfo {
		padding-top: 2.4rem;
	}
}

@media screen and (max-width: 620px) {
	.invoiceNav .buttons {
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--box-bg);
		width: 100%;
		padding: 1.6rem 1.85rem;
		box-shadow: 0px -32px 15px -3px rgba(0, 0, 0, 0.1);
		z-index: 1;
	}

	.invoiceNav .status {
		width: 100%;
	}

	.invoiceNav .status > div {
		width: 100%;
		justify-content: space-between;
	}

	.clientInfo {
		padding-right: 0;
	}
}

@media screen and (max-width: 560px) {
	.itemTable th {
		display: none;
	}

	.itemTable table {
		padding: 0 1.85rem;
	}

	.itemTable td {
		padding: 0;
	}

	.itemTable tbody {
		border-spacing: 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.85rem;
		padding: 1.9rem 0;
	}

	.itemTable tbody tr {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.itemTable tbody td.totalOfItem {
		grid-area: 1 / 2 / -1 / 2;
		align-self: center;
	}

	.itemTable tbody td.quantity {
		justify-self: flex-start;
		font-weight: 700;
	}

	.clientInfo > div {
		width: 7rem;
	}

	.container {
		
		margin-bottom: 5rem;
	}
}

@media screen and (max-width: 480px) {
	.senderInfo {
		flex-direction: column;
	}

	.senderInfo .senderAddress {
		text-align: left;
		padding-top: 2rem;
	}
	.clientInfo {
		flex-wrap: wrap;
		gap: 2.7rem;
	}

	.itemTable td.quantity {
		padding-top: 0.3rem;
	}
}

@media screen and (max-width: 420px) {
	.invoice {
		padding: 1.85rem;
	}
}
