.billTo h4 {
   margin-top: 3.5rem;
   margin-bottom: 1.85rem;
   color: var(--primary);
}

.billTofieldset {
   margin-top: 1.9rem;
   border: 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 100%;
}

.billTofieldset > * {
   grid-column: span 1;
   justify-self: center;
}