.offcanvas {
	position: fixed;
	top: 50%;
	left: 8rem;
	transform: translateY(-50.1%);
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
}

.canvas {
	background-color: var(--body-bg);
   width: 47rem;
   border-radius: 0rem 1.53846rem 1.53846rem 0rem;
   height: 100vh;
   padding: 4.5rem 6.5rem;
	position: relative;
}

.canvas form {
	overflow-y: scroll;
}

@media screen and (max-width: 767px) {
	.offcanvas {
		left: 0;
	}

	.canvas {
		margin-top: 6.3rem;
		height: 90vh;
	}
}

@media screen and (max-width: 620px) {
	.canvas {
		width: 100vw;
		border-radius: 0;
	}
}